#appointment{
   padding-bottom: 2rem;
    .container{
        display: grid;
        grid-template-columns: 35% 55%;
        gap: 10%;
        .info{
            display: grid;
            gap: 1rem;
            article{
                display: flex;
                gap: 1rem;
                margin: 1rem 0;
                i{
                    font-size: 2rem;
                    color: $primary-color-varient;
                    margin: 0.5rem;
                }
                h4{
                    font-size: 1.4rem;
                   
                    margin: 0.5rem;
                }
                p{
                    color: $primary-color-varient;
                }
            }
        }
        form{
            margin: 0 1rem;
            display: flex;
            flex-direction: column;
            gap: 1.4rem;
            .form__group{
                label{
                    font-size: 1.1rem;
                    margin-bottom: 0.4rem;
                    display: inline-block;
                    font-weight: 600;
                }
                input,textarea,select{
                    background: 
                    $white-color;
                    padding: 0.8rem 1rem;
                    display: block;
                    width: 100%;
                    border-radius: 1rem;
                    font-size: 1.1rem;
                    appearance: none;
                    resize: none;
                }
            }
        }
    }
}