#header{
    height: 100vh;
    display: grid;
    @include gradientBackground;
    place-items: center;
    .container{
        display: grid;
        grid-template-columns: 46% 46%;
        gap: 8%;
        .header__content{
            display: grid;
            gap: 1rem;
            p{
                color: $white-color;
            }
        }
    }
}