#testimonials{
    
    width: $container-md;
    margin: auto;
    .container{
        padding:0 5rem 5rem 5rem;
        article{
            // width: 500px!important;
            // margin:0 2.5rem;
            @include gradientBackground;
            padding: 1.5rem 2rem;
            border-radius: 1rem;
            cursor: default;
            font-size: 0.9rem;
            p{
                margin-bottom: 1.5rem;
            }
            .patient{
                display: flex;
                align-items: center;
                gap: 1.3rem;
                .avatar{
                    width: 2.5rem;
                    aspect-ratio: 1/1;
                    border-radius: 50%;
                    overflow: hidden;
                }
            }
            
        }
    }
}